<div class="mt-7 ml-7 flex items-center">
    <a href="pokemones" class="fa-solid fa-right-from-bracket fa-rotate-180 fa-2xl text-gray-600 hover:text-gray-800 transition duration-200"></a>
    <p class="uppercase ml-2 font-semibold text-gray-600">Salir</p>
</div>

<div>
    <h1 class="ml-5 mt-4">No.{{poke.id}}</h1>
</div>

<div class="flex justify-center my-7 cursor-pointer" onclick="location.reload()">
    <i class="fa-solid fa-layer-group text-2xl text-gray-600 hover:text-gray-800 transition duration-200"></i>
    <p class="uppercase ml-2 font-semibold text-gray-600">Presiona para cargar datos</p>
</div>

<div class="grid grid-cols-3 divide-x">
   
    <div class="flex justify-center place-items-center" >
   
        <div class="max-w-sm p-6 border border-white bg-amber-50 rounded-lg shadow ">
   
            <img [src]='poke.imagen' class="bg-center">
            <p class="mb-3 font-normal uppercase">Nombre: {{ poke.name }}</p>
            <p class="mb-3 font-normal uppercase">movimiento huevos: {{ poke.movements }}</p>
            <p class="mb-3 font-normal uppercase">versiones: {{ poke.versions }}</p>
   
        </div>
   
    </div>

    <div class="flex justify-center place-items-center" >
        
        <div class="max-w-sm p-6 border border-white bg-amber-50 rounded-lg shadow ">
            
            <ul>
                
                <li>HP: {{ poke.base[0] }}</li>
                <li>Attack: {{ poke.base[1] }}</li>
                <li>Defense: {{ poke.base[2] }}</li>
                <li>-------------------------</li>
                <li>felicidad: {{poke.felicidad}}</li>
                <li>Rango de captura: {{poke.rango_captura}}%</li>

            </ul>
        
        </div>

    </div>   

    <div>

        <div class="flex justify-center place-items-center mt-14" >

            <div class="max-w-sm p-6 border border-white bg-amber-50 rounded-lg shadow ">
            
                @if (poke.legendario == true) {                    
                    <ul>
                        <i class="fa-solid fa-check">Es legendario</i>
                        <i class="fa-solid fa-check">es mitico</i>
                        <li>Numero de pokedex: "{{ poke.id }}"</li>
                        <li>Tipo: {{poke.tipo[1]}}</li>
                    </ul>
                }
                @else {

                    <ul>
                        <i class="fa-solid fa-xmark">Es legendario</i>
                        <i class="fa-solid fa-xmark">es mitico</i>
                        <li>Numero de pokedex: "{{ poke.id }}"</li>
                        <li>Tipo: {{poke.tipo[1]}}</li>
                    </ul>
                }
            
            </div>

        </div>
    </div>
</div>



