<div class="bg-white scroll-p-20  rounded-8 border-collapse shadow-[0_2_10_rgb(0,0,0,0.1)] " >
  <h3 
    class="
      text-center  
    text-stone-950  
      font-mono">
    Estos son los chistes</h3>
  
  <div class="overflow-auto">
    
    <table class=" ms-16 me-16 w-5/5 border-separate border-2 border-stone-950 scroll-ps-6"
      
    >
      
      <thead> 
        <tr>
          <th class="border border-slate-500 bg-zinc-900 text-gray-50">No.</th>
          <th class="border border-slate-500 bg-zinc-900 text-gray-50">Categorías</th>
          <th class="border border-slate-500 bg-zinc-900 text-gray-50">Fecha de creación</th>
          <th class="border border-slate-500 bg-zinc-900 text-gray-50">Icono URL</th>
          <th class="border border-slate-500 bg-zinc-900 text-gray-50">ID</th>
          <th class="border border-slate-500 bg-zinc-900 text-gray-50">Última actualización</th>
          <th class="border border-slate-500 bg-zinc-900 text-gray-50">URL</th>
          <th class="border border-slate-500 bg-zinc-900 text-gray-50">value</th>
        </tr>
      </thead>
      <tbody>
        @for(item of data; track $index){
        <tr class="">
          <td [ngClass]="['bg-red-600', 'bg-slate-400']" class="text-center border border-slate-950">{{ $index + 1 }}</td>
          <td class="border border-slate-950 {bg-white : bg-red-600}"> {{ item.categories }}</td>
          <td class="border border-slate-950">{{ item.created_at }}</td>
          <td class="border border-slate-950"><img [src]='item.icon_url'></td>
          <td class="border border-slate-950">{{ item.id }}</td>
          <td class="border border-slate-950">{{ item.updated_at }}</td>
          <td class="border border-slate-950">{{ item.url }}</td>
          <td class="border border-slate-950">{{ item.value }}</td>
        </tr>
        }
      </tbody>
    </table>
  </div>
</div>